---
layout: default
permalink: /archive/
title: Archive
---

<div>
	{% for post in site.posts %}
	{% unless post.next %}
	<h3><small>{{ post.date | date: '%B %Y' }}</small></h3>
	{% else %}
	{% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
	{% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
	{% if year != nyear %}
	<h3><small>{{ post.date | date: '%B %Y' }}</small></h3>
	{% endif %}
	{% endunless %}
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
	{% endfor %}
</div>
<div>
	<h3>Teach classes in web developmen (CMS,HTM5 and CSS3) at [LD E-Formation](https://ldformation.com/){:target="_blank"}</h3>
	<h3>Teach classes in machine learning (clustering, dimension reduction) at [Dakar Institute of Technology](https://dit.sn/){:target="_blank"}</h3>
</div>